{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block styles %}{{ encore_entry_link_tags('register') }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


       <form id="formulaire">{{ form_start(registrationForm) }}
            <h1 id="H1">Register</h1>
            <div>{{ form_row(registrationForm.user_email) }}</div>
            <div>{{ form_row(registrationForm.user_name) }}</div>
            <div>{{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) }}</div>
            <div>{{ form_row(registrationForm.agreeTerms) }}</div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} </form>
{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('register') }}{% endblock %}