{% extends "base.html.twig" %}

{% block title "Add association" %}

{% block styles %}
    {{ encore_entry_link_tags('add_assoc') }}
{% endblock %}

{% block body %}
<form action="" method="POST">
    <input type="submit" value="Validate" class="btn btn-outline-primary">
    <div class="container-fluid row" id="flex">
        {% set i = 0 %}
        {% for association in associations %}
        <div class="row m-3 col-4">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-dark active">
                    <input type="checkbox" name="{{association.Id}}" id="assoc_{{i}}" autocomplete="off">
                </label>
            </div>
            <div class="media bg-dark w-75">
                <a class="d-flex" href="#">
                    <img src="{{ asset('img/logo/' ~ association.assLogo) }}" alt="" class="ass_logo">
                </a>
                <div class="media-body">
                    <h5>{{ association.assNom }}</h5>
                    {{ association.assDescription }}
                </div>
            </div> 
        </div>   
        {% set i = i+1 %}
        {% endfor %}
    </div>
</form>
    
{% endblock %}