{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    <h1>Association index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ass_name</th>
                <th>Ass_code</th>
                <th>Ass_site</th>
                <th>Ass_adresse</th>
                <th>Ass_cp</th>
                <th>Ass_ville</th>
                <th>Ass_description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.assName }}</td>
                <td>{{ association.assCode }}</td>
                <td>{{ association.assSite }}</td>
                <td>{{ association.assAdresse }}</td>
                <td>{{ association.assCp }}</td>
                <td>{{ association.assVille }}</td>
                <td>{{ association.assDescription }}</td>
                <td>
                    <a href="{{ path('association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('association_new') }}">Create new</a>
{% endblock %}
