{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <h1>Association</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Ass_name</th>
                <td>{{ association.assName }}</td>
            </tr>
            <tr>
                <th>Ass_code</th>
                <td>{{ association.assCode }}</td>
            </tr>
            <tr>
                <th>Ass_site</th>
                <td>{{ association.assSite }}</td>
            </tr>
            <tr>
                <th>Ass_adresse</th>
                <td>{{ association.assAdresse }}</td>
            </tr>
            <tr>
                <th>Ass_cp</th>
                <td>{{ association.assCp }}</td>
            </tr>
            <tr>
                <th>Ass_ville</th>
                <td>{{ association.assVille }}</td>
            </tr>
            <tr>
                <th>Ass_description</th>
                <td>{{ association.assDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('association_index') }}">back to list</a>

    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>

    {{ include('association/_delete_form.html.twig') }}
{% endblock %}
